@media (max-width: 83em) {
	header .container {
		margin-top: rem;
	}
	.book form .col {
		width: 50rem;
	}
}

@media (max-width: 64em) {
	header .container {
		margin-top: 5rem;
	}

	.section {
		margin-bottom: 6rem;
	}
	.separator-sections {
		padding-bottom: 2rem;
	}
	.book form .col {
		max-width: 20rem;
	}
}

@media (max-width: 48em) {
	h1 {
		font-size: 5rem;
		padding-bottom: 1rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 1.8rem;
	}

	h4 {
		font-size: 1.4rem;
	}

	p,
	.banner-text,
	.card-text {
		font-size: 1rem;
	}

	.container-sm {
		flex-direction: column;
		gap: 1rem;
	}
	header .container {
		margin-top: 8rem;
	}

	.footer-heading,
	.blog-heading {
		font-size: 1.2rem;
	}

	.btn {
		font-size: 1rem;
	}

	.card {
		width: 90%;
		margin: 0 auto 2rem auto;
	}

	.opening-time {
		flex-direction: column;
		line-height: 1.8;
	}

	.blogs {
		flex-direction: column;
	}
}

@media (max-width: 28em) {
	h1 {
		font-size: 3rem;
		padding-bottom: 1rem;
	}
	h2 {
		font-size: 2rem;
	}
	.navbar {
		padding: 1rem 3rem;
	}

	.formularz {
		font-size: 1rem;
	}
	.btn-primary {
		padding: 0.5rem 2rem;
	}
	.about-text {
		width: 90%;
	}
	.opening-text {
		border: none;
		margin: 0.1rem;
		padding: 1.5rem;
	}
	.contact {
		font-size: 1.2rem;
	}
	.btn-booking {
		font-size: 1.2rem;
	}
	p {
		font-size: 0.8rem;
	}

	.footer-box {
		flex-direction: column;
		gap: 1.5rem;
	}
	.footer-c {
		line-height: 1.8;
		font-size: 1rem;
		text-align: center;
	}
}
